<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Results</title>
    <link rel="stylesheet" type="text/css" href="styles/reset.css"/>
    <link rel="stylesheet" type="text/css" href="styles/base.css"/>
    <link rel="stylesheet" type="text/css" href="styles/icons.css"/>
    <link rel="stylesheet" type="text/css" href="styles/layout.css"/>
    <link rel="stylesheet" type="text/css" href="styles/modules.css"/>
</head>
<body>
    <h1>BOOOOOOOOOKS!</h1>

    <ul>
            <li>
                <img src=<%= book.image_url %> >
                <h3><%= book.title %></h3>
                <h4><%= book.author %></h4>
                <p><%= book.description %></p>
                <p><%= book.isbn %></p>
                <p><%= book.bookshelf %></p>
            </li>
    </ul>
    
    
</body>
</html>