<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App</title>
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/modules.css">
</head>
<body>
    <main>
        <p> <%= books.length %>Books available</p>
                <ul id="bookshelf">
                    <% books.forEach(book => { %>
                        <li class="new-book">
                            <img src=<%= book.image_url %>>
                            <h3><%= book.title %></h3>
                            <h4><%= book.author %></h4>
                            <a href="/books/<%=book.id%>">View Details</a>
                        </li>
                    <% }) %>
                </ul>
    </main>
</body>
</html>